<html>

<head>
{% load static %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
.DDR_header{
  font-size:32px;
  text-align:center;
  font-family:Sans-serif;
  }
.donation_para{
  font-size:20px;
  font-family:Monospace;
  text-align:justify;
}
.nani{
  font-size:32px;
  text-align:center;
  font-family:Verdana;
}
.greetings3{
  font-size:18px;
  font-family:Monospace;
  text-align:justify;
}
.food_qty{
  font-size:20px;
  font-family:Monospace;
}



</style>


</head>

<body>

<section>
      {% for image in products %}
        <img src="{{ image.image.path }}" class="card-image-top"  alt="Category">
      {% endfor %}
</section>

 <h1 class="DDR_header" >Donation Delivery Report</h1>
<p class="donation_para" id="donation_para"> <b>We are delighted to report that your generous donation of <span class="donation_para_colour_change">{{meals}}</span>, on behalf of <span class="donation_para_colour_change">{{name}}</span>, was successfully delivered on <span class="donation_para_colour_change">{{date}}</span>. This thoughtful contribution provided much-needed sustenance to homeless and poverty-stricken communities in india.</b></p>
   <div class="thanks">
            <h1 class="nani">Special Note of Thanks</h1>
            <h6 class="greetings3">Our gratitude for your generosity knows is limitless. You are the pillars of the Thaagam Foundation, the force that propels us forward. Your contributions have been the backbone of our operations, the heart that keeps us going. Every meal we provide, every hungry stomach we fill, it's all because of you. You are the reason we've been able to grow and touch so many lives across India. Without your support, none of this would be possible. You are not just donors, you are the very essence of Thaagam Foundation. Thank you, from our hearts to yours.</h6>
   </div>
<div>
  <h2 class="DDR_header">How To We Served</h2>
  <div class="food_qty">
          <p style="line-height:1px" class="ft19"><b>Estimated Nutrition value : </b></p>
          <p style="line-height:1px" class="ft110"><b>Carbohydrates            : 250g</b></p>
          <p style="line-height:1px" class="ft110"><b>Protien                  : 120g</b></p>
          <p style="line-height:1px" class="ft110"><b>Total meal weight        : 450g</b></p>
      </div>
    </div>
</div>

<section style="width: 100%;">
  <div style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">
    {% for image in images %}
    <div style="width:800px; height:800px;">
      <img src="{{ image }}"   class="center" alt="donar">
    </div>
    {% cycle '<div style="width: 50%;"></div>' '</div><div style="display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px;">' %}
    {% endfor %}
  </div>
</section>





</body>

</html>
